# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.json
*.sh
# Test binary, build with `go test -c`
*.test
*.html
# Output of the go coverage tool, specifically when used with LiteIDE
config.yml
*.log
*.lp
*.gz
/log/*
/monitor_flux/*
upload/*
backup/*
error/*
zoe
k8s
ipoc-golang-api
new-cicd.yml

gin-bin
gin.log
.DS_Store
main

#ide setting
.idea
*.csv
.vscode
*.conf
bimap-ipoc
